body{
    /*background-image: url('/image/fon30.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  Зафіксувати фон при скролінгу */

    /* background-color: rgba(255, 255, 255, 0.8);  0.95 - це прозорість від 0 (повністю прозорий) до 1 (непрозорий) */
     /*background-blend-mode: lighten; *//* Це може покращити ефект прозорості, враховуючи фоновий зображення */body

height: 100%;
			margin: 0;
			background: #7F7FD5;
	       background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	        background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}