body{
    background-image: url('/image/fon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Зафіксувати фон при скролінгу */

}
@media (min-width: 768px) {
    body {
        background-position: right;
    }
}