.myInfo{
   margin: 5px 5px 5px 10px;
   border-radius: 15px;
   height: 300px;
   background-color: #F5FFFA;
}
h5{
   text-align: center;
}
#userCard, img{
   border-radius: 15px;
}
#border_text{
    padding: 0.25rem;
}
