#box_header_left, #box_header_right{
   -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#imageProfile{
   height: 150px;
   border-radius: 15px;
}
#sizeLi1, #sizeLi2, #sizeLi3, #sizeLi4, #sizeLi5 {
   padding: -0.25rem 1.25rem;
   margin-bottom: -10px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
    #box_header_left {
        width: calc(40rem - 5%);
        margin-left: 5%;
    }

}
