@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

img{
     border-radius: 10px;
     -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
     -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

h1{
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
     -webkit-box-decoration-break: clone;
     background-image: linear-gradient(to bottom, #ff0000, #ffffff);
     text-transform: uppercase;
}

div#login-container {
     margin-top: 30px;
}


