<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page403.title}">Error 403</title>

    <link rel="icon" type="image/png" href="../static/image/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/image/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/image/favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/image/favicon.png">
</head>
<body>

<h1 th:text="#{page403.403}">403 - Access Denied</h1>
<p th:text="#{page403.sorry}">Sorry, you do not have permission to access this page.</p>
<br/>
<a th:href="@{'/'}" class="btn btn-primary" th:text="#{page403.backToHome}">Back to Start</a>

</body>
</html>