<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{pageAddPost.title}">Post</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="../static/css/fonBody2.css">
    <link rel="stylesheet" type="text/css" href="../static/css/addPost.css">
    <link rel="manifest" href="/manifest.json">

    <link rel="icon" type="image/png" href="../static/image/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/image/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/image/favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/image/favicon.png">

</head>
<body>

<header>
    <main th:replace="header"></main>
</header>

<section>
    <div class="container text-center">
        <div class="row">
            <div class="col-6">
                <div id="box_header_left" th:each="post : ${posts}" class="card"
                     style="width: 20rem; margin: 15px auto">
                    <a class="position-absolute top-0 start-100 translate-middle p-1"
                       th:href="@{'/deletePost/' + ${post.getId()}}">
                        <i class="fas fa-trash"></i></a>
                    <img th:src="${'data:image/jpeg;base64,' + post.encodedImage}" class="card-img-top"
                         alt="Post image">
                    <div class="card-body">
                        <h6 class="card-title" th:text="${post.postNews}">Post title</h6>
                    </div>
                </div>
            </div>
            <div class="col-4" id="boxAddPostMain">
                <form action="/savePost" method="post" enctype="multipart/form-data">
                    <h4 style="text-align: center; color: white;" th:text="#{pageAddPost.addPost}">Add post</h4>
                    <label for="image" th:text="#{pageAddPost.image}">Image:</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                    <label for="postNews" th:text="#{pageAddPost.postNews}">Post News:</label>
                    <input class="form-control" type="text" id="postNews" name="postNews">
                    <label for="hashTag" th:text="#{pageAddPost.hashTag}">Hash Tag:</label>
                    <input class="form-control" type="text" id="hashTag" name="hashTag" th:placeholder="#{pageAddPost.hashTagPlaceholder}">
                    <button class="btn btn-lg btn-primary btn-block btnForm" type="submit" th:text="#{pageAddPost.submit}">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

<footer>
    <main th:replace="footer_Mobile"></main>
</footer>

<script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
</script>

</body>
</html>
