<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{pageAlbums.title}">Photo</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/fonBody2.css">
    <link rel="manifest" href="/manifest.json">

</head>
<body>

<header>
    <main th:replace="header"></main>
</header>

<h4 style="text-align: center; color: white; margin-top: 5%;" th:text="#{pageAlbums.photos}">Photos</h4>
<div class="container d-flex">
        <div class="col" style="margin: 5px">

            <div th:each="photo : ${photos}" class="card" style="width: 10rem;">
                <a class="position-absolute top-0 start-100 translate-middle p-1"
                   th:href="@{'/deletePhoto/' + ${photo.id}}"><i class="fas fa-trash"></i></a>
                <img th:src="@{'data:image/jpeg;base64,' + ${photo.encodedImage}}" class="card-img-top" alt="Photo"/>
                <div class="card-body" style="text-align: center">
                    <p th:text="${photo.description}" class="card-text">Description</p>
                </div>
            </div>

        </div>
</div>

<br>
<h4 style="text-align: center; color: white;" th:text="#{pageAlbums.addPhoto}">Add Photo</h4>
<form th:action="@{/uploadPhotos}" method="post" enctype="multipart/form-data" style="margin: 0 20%;">
    <input type="file" name="image" multiple>
    <input type="text" name="description" th:placeholder="#{pageAlbums.description}" required>
    <input type="hidden" name="id" th:value="${id}">
    <button type="submit" th:text="#{pageAlbums.savePhoto}">Save photo</button>
</form>

<footer>
    <main th:replace="footer_Mobile"></main>
</footer>

<script>
    if ('serviceWorker' in navigator) {
          window.addEventListener('load', function() {
            navigator.serviceWorker.register('/service-worker.js');
          });
        }
</script>

</body>
</html>
