<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="#{pageFriendsPage.title}">Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <link rel="stylesheet" type="text/css" href="../static/css/fonBody2.css">
    <link rel="manifest" href="/manifest.json">

    <link rel="icon" type="image/png" href="../static/image/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/image/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/image/favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/image/favicon.png">

    <style>
        #box_header_left {
            /* Ваші стилі для #box_header_left тут */
        }

        @media (max-width: 768px) {
            #box_header_left {
                width: 100%;
            }

            #box_header_right {
                width: 100%;
            }
        }

        @media (min-width: 992px) {
            .custom-col-lg-10 {
                width: 75.333333%;
            }

            .custom-col-lg-2 {
                width: 16.666667%;
            }
        }
    </style>
</head>
<body>

<header>
    <main th:replace="header"></main>
</header>

<section>
    <div class="container-fluid text-center">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 custom-col-lg-10">

                <div id="box_header_left" th:each="post: ${posts}" class="card"
                     style="width: 100%; max-width: 40rem; margin: 10px auto">
                    <div class="container text-center" style="margin-top: 10px">
                        <div class="row justify-content-between">
                            <div class="col-4">
                                <a th:href="@{'/user/' + ${post.user.getId()}}">
                                    <p th:text="'Published: ' + ${post.user.name}"></p>
                                </a>
                            </div>
                            <div class="col-4">
                                <small class="text-body-secondary" th:text="${post.addPostNews}"></small>
                            </div>
                        </div>
                    </div>

                    <img th:src="${'data:image/jpeg;base64,' + post.encodedImage}" class="card-img-top"
                         alt="Post image">
                    <div style="margin: 10px">
                        <h5 class="card-title" th:text="${post.postNews}">Post title</h5>
                    </div>

                    <div class="container text-center" style="margin-bottom: 10px">
                        <div class="row justify-content-between">
                            <div class="col-4">
                                <i class="fa"
                                   th:classappend="${post.likeInPost == 1 ? 'fa-thumbs-up' : 'fa-thumbs-o-up'}"
                                   aria-hidden="true" onclick="likePost(this)"
                                   th:attr="data-likes=${post.likeInPost}, data-post-id=${post.id}"></i>
                                <span th:if="${post.likeInPost > 0}" th:text="${post.likeInPost}"></span>
                            </div>
                            <div class="col-4">
                                <i class="fa fa-retweet" aria-hidden="true" onclick="repostPost(this)"
                                   th:attr="data-post-id=${post.id}"></i>
                            </div>
                            <div class="col-4">
                                <a th:href="@{'/comment/'+ ${post.id}}"> <i class="fa fa-comments-o"
                                                                            aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- Профіль -->
            <div class="col-lg-2 col-md-2 custom-col-lg-2" style="margin-top: 10px;">

                <div id="box_header_right" class="card" style="width: 100%; max-width: 14rem; border-radius: 15px;">
                    <img class="card-img-top" id="imageProfile" th:src="${'data:image/jpeg;base64,' + user.imageData}"
                         alt="User Image">
                    <div class="card-body">

                        <div class="card" style="width: 100%; max-width: 12rem;">
                            <ul class="list-group list-group-flush link">

                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                                    aria-expanded="false" aria-controls="flush-collapseOne"
                                                    th:text="#{pageFriendsPage.profile}">
                                                Profile
                                            </button>
                                        </h2>
                                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                                             aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                            <ul>
                                                <li><p th:text="#{pageFriendsPage.name} + ' ' + ${user.name}"></p></li>
                                                <li><p th:text="#{pageFriendsPage.age} + ' ' + ${age}"></p></li>
                                                <li><p th:text="#{pageFriendsPage.country} + ' ' + ${country}"></li>
                                                <li><p th:text="#{pageFriendsPage.hobby} + ' ' + ${hobby}"></p></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </ul>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" id="sizeLi1"><a th:href="@{'/photoGallery/' +${user.id}}"
                                                                            th:text="#{pageFriendsPage.photoGallery}">Photo
                                    gallery</a>
                                </li>
                            </ul>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" id="sizeLi2"><a
                                        th:href="@{'/friends/' +${user.id}}" th:text="#{pageFriendsPage.friends}">Friends</a></li>
                            </ul>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" id="sizeLi4">

                                    <button class="btn btn-light" type="button" data-bs-toggle="offcanvas"
                                            data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom" th:text="#{pageFriendsPage.support}">Support
                                    </button>

                                    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom"
                                         aria-labelledby="offcanvasBottomLabel">
                                        <div class="offcanvas-body">
                                            <footer class="bg-body-tertiary text-center text-lg-start position-relative">
                                                <!-- Кнопка закриття -->
                                                <button type="button"
                                                        class="btn-close position-absolute top-0 end-0 m-2"
                                                        data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                                <!-- Copyright -->
                                                <div class="text-center p-3"
                                                     style="background-color: rgba(0, 0, 0, 0.05);">
                                                    © 2024 Project by:
                                                    <a class="text-black"
                                                       href="https://www.linkedin.com/in/v-s-485101240/"
                                                       target="_blank">V.Scherbatyuk</a>
                                                </div>
                                                <!-- Copyright -->
                                            </footer>
                                            <p style="margin-top: 20px">vitaliktuhata@gmail.com</p>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <main th:replace="footer_Mobile"></main>
</footer>

<script>
    function repostPost(element) {
        var postId = element.getAttribute("data-post-id");

        var rePostId = {
            postId: postId
        };

        fetch('/createRepost', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(rePostId)
        })
        .then(response => {
            if (response.ok) {
                // Якщо репост створено успішно, ви можете виконати необхідні дії, наприклад, оновити сторінку або відобразити повідомлення про успішність
                console.log('Репост створено успішно');
            } else {
                // Якщо сталася помилка при створенні репосту, ви можете відобразити повідомлення про помилку або виконати інші дії
                console.error('Помилка при створенні репосту');
            }
        })
        .catch(error => {
            // Обробка помилок під час відправлення запиту на сервер
            console.error('Помилка при відправленні запиту на сервер:', error);
        });
    }

    function likePost(iconElement) {
        let postId = iconElement.getAttribute('data-post-id');
        let countPost = parseInt(iconElement.getAttribute('data-likes'), 10);
        let isLiked = iconElement.classList.contains('fa-thumbs-up');
        countPost += isLiked ? -1 : 1;
        iconElement.setAttribute('data-likes', countPost);
        iconElement.nextElementSibling.textContent = countPost > 0 ? countPost : '';
        iconElement.classList.toggle('fa-thumbs-o-up', isLiked);
        iconElement.classList.toggle('fa-thumbs-up', !isLiked);

        fetch('/addLikeToPost', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                postId: postId,
                likes: countPost,
            }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('Success:', data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>

</body>
</html>
