<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="../static/css/header.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="manifest" href="/manifest.json">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var profileMenu = document.getElementById('profileMenu');

            document.getElementById('profileImage').addEventListener('click', function () {
                profileMenu.style.display = profileMenu.style.display === 'none' ? 'block' : 'none';
            });
        });

        $(document).ready(function() {
            var selItem = localStorage.getItem("locales");
            $('#locales').val(selItem ? selItem : 'en');
            $("#locales").change(function() {
                var selectedOption = $('#locales').val();
                if (selectedOption) {
                    window.location.replace('?lang=' + selectedOption);
                    localStorage.setItem("locales", selectedOption);
                }
            });
        });
    </script>

</head>
<body>

<nav id="formBody" class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <h3 class="text text1" th:text="#{headBox.nameNetwork}">Hobby network</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/home'}">
                    <i class="fa fa-home"></i>
                    <span th:text="#{headBox.home}">Home</span>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/viewMessages}">
                    <i class="fa fa-envelope-o" th:href="@{/view-messages}">
                        <span class="badge badge-danger" th:text="${countMessages}"></span>
                    </i>
                    <span th:text="#{headBox.messages}">Messages</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/answer-request}">
                    <i class="fa fa-bell">
                        <span class="badge badge-info" th:text="${countRequests}"></span>
                    </i>
                    <span th:text="#{headBox.notification}">Notification</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/rating}">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    <span th:text="#{headBox.rating}">Rating</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span th:text="#{headBox.logOut}">LogOut</span>
                </a>
            </li>
        </ul>
        <div class="d-flex justify-content-center align-items-center">
            <div style="border-radius: 10px; margin: 0 10px;">
                <label for="locales"></label>
                <select id="locales">
                    <option value="en" th:text="#{headBox.lang.en}">English</option>
                    <option value="uk" th:text="#{headBox.lang.uk}">Українська</option>
                </select>
            </div>
            <nav class="navbar bg-light" style="border-radius: 10px">
                <div class="container-fluid">
                    <form class="d-flex" role="search" action="/search" method="post">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                               name="searchTerm">
                        <button class="btn btn-outline-success" type="submit" th:text="#{headBox.search}">Search</button>
                    </form>
                </div>
            </nav>
        </div>

    </div>
</nav>

<script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
</script>

</body>
</html>





