<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{profileUpdate.title}">My Profile</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/fonBody2.css">
    <link rel="stylesheet" type="text/css" href="../static/css/profileUpdate.css">
    <link rel="manifest" href="/manifest.json">

    <link rel="icon" type="image/png" href="../static/image/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/image/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/image/favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/image/favicon.png">

</head>
<body>

<header>
    <main th:replace="header"></main>
</header>
<section>
    <div class="container text-center boxUpdate">
        <div class="row">
            <div class="col-5 box">
                <form th:object="${user}" method="post" th:action="@{/profileUpdate}">
                    <h4 style="text-align: center; color: white;" th:text="#{profileUpdate.update}">Update Profile</h4>
                    <label>
                        <input type="text" class="form-control" th:placeholder="#{profileUpdate.name}"
                               th:field="*{name}" required
                               autofocus>
                    </label>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></span><br>

                    <label>
                        <input type="number" class="form-control" th:placeholder="#{profileUpdate.age}"
                               th:field="*{age}" required>
                    </label>
                    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: red;"></span><br>

                    <label>
                        <input type="text" class="form-control" th:placeholder="#{profileUpdate.country}"
                               th:field="*{country}" required>
                    </label>
                    <span th:if="${#fields.hasErrors('country')}" th:errors="*{country}" style="color: red;"></span><br>

                    <label>
                        <input type="text" class="form-control" th:placeholder="#{profileUpdate.city}"
                               th:field="*{city}" required>
                    </label>
                    <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" style="color: red;"></span><br>

                    <label>
                        <input type="text" class="form-control" th:placeholder="#{profileUpdate.hobby}"
                               th:field="*{hobby}" required>
                    </label>
                    <span th:if="${#fields.hasErrors('hobby')}" th:errors="*{hobby}" style="color: red;"></span><br>

                    <button class="btn btn-lg btn-primary btn-block" type="submit"
                            th:text="#{profileUpdate.updateProfile}">
                        Update Profile
                    </button>
                </form>
            </div>
            <div class="col-5 box">
                <form th:action="@{/profileImageUpdate}" method="post" enctype="multipart/form-data">
                    <h4 style="text-align: center; color: white;" th:text="#{profileUpdate.updatePhoto}">Update
                        Photo</h4>
                    <input class="form-control" type="file" name="imageData" multiple>
                    <button class="btn btn-lg btn-primary btn-block" style="margin-top: 10px;" type="submit"
                            th:text="#{profileUpdate.submitPhoto}">Update photo
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<section>
    <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal"
       data-login="${user.email}" th:text="#{profileUpdate.dellAccount}">Видалити акаунт</a>

    <div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteAccountModalLabel" th:text="#{profileUpdate.deletionСonfirmation}">Підтвердження видалення акаунту</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p th:text="#{profileUpdate.loginAndPassword}">Введіть свій логін для підтвердження видалення акаунту:</p>
                    <input type="text" class="form-control" id="loginInput" th:placeholder="#{profileUpdate.email}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{profileUpdate.cancel}">Відміна</button>
                    <button type="button" class="btn btn-danger" id="deleteAccountBtn" th:text="#{profileUpdate.dell}">Видалити</button>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <main th:replace="footer_Mobile"></main>
</footer>

<script>
    if ('serviceWorker' in navigator) {
          window.addEventListener('load', function() {
            navigator.serviceWorker.register('/service-worker.js');
          });
        }

   document.addEventListener('DOMContentLoaded', function () {
    const deleteAccountBtn = document.getElementById('deleteAccountBtn');
    const loginInput = document.getElementById('loginInput');

    deleteAccountBtn.addEventListener('click', function () {
        const login = loginInput.value.trim();

        fetch('/deleteAccount', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({login: login}),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.text();
        })
        .then(data => {
            if (data === 'redirect:/') {
                window.location.href = '/';
            } else if (data === 'redirect:/profileUpdate') {
                window.location.href = '/profileUpdate';
            } else {
                console.error('Unexpected response:', data);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
});
</script>

</body>
</html>
