<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Start</title>

    <link rel="stylesheet" type="text/css" href="../static/css/start.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" type="text/css" href="../static/css/fonBody2.css">

</head>
<body>

<div class="container text-center vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100">
        <div class="col-lg-6 col-md-12 d-flex flex-column align-items-center justify-content-center">
            <img th:src="@{/image/social.png}" width="110%" height="110%" alt="Your Image">
        </div>
        <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center" id="login-container">
            <div class="row justify-content-center">
                <div class="col">
                    <h1>Hobby network</h1>
                </div>
            </div>
            <div class="row justify-content-center" style="margin: 7px 0">
                <div class="col">
                    <a th:href="@{/login}">LogIn</a>
                </div>
            </div>
            <div class="row justify-content-center" style="margin: 7px 0">
                <div class="col">
                    <a th:href="@{/registration}">Registration</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }

    document.addEventListener('DOMContentLoaded', function() {
        // Отримуємо локальне сховище браузера
        var count = localStorage.getItem('startPageVisitCount');
        // Перевіряємо, чи вже є лічильник, якщо ні - створюємо
        if (!count) {
            count = 0;
        } else {
            count = parseInt(count);
        }
        // Збільшуємо лічильник
        count++;
        // Записуємо оновлений лічильник у локальне сховище
        localStorage.setItem('startPageVisitCount', count);
        // Відображаємо на сторінці
        document.getElementById('visitCount').innerText = count;
    });

</script>

</body>
</html>

