<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/fonBody.css">

</head>
<body>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img
                    th:src="${'data:image/jpeg;base64,' + user.imageData}"
                    alt="User Image"
                    class="img-fluid rounded-start"
            />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title" th:text="${user.name}"></h5>

                <p class="card-text" th:text="'Age: ' + ${user.age}"></p>
                <p class="card-text" th:text="'Email: ' + ${user.email}"></p>
                <p class="card-text" th:text="'Country: ' + ${user.country}"></p>
                <p class="card-text" th:text="'City: ' + ${user.city}"></p>

                <p class="card-text">
                    <small class="text-muted" th:text="'Hobby: ' + ${user.hobby}"></small>
                </p>
                <a th:href="@{'/writeMessage/' + ${user.id}}" class="card-link">Write message</a><br>

                <form th:action="@{/addFriends}" method="post" th:object="${friendsRequest}">
                    <input type="hidden" name="friendId" th:value="${user.id}"/>
                    <button type="submit" class="btn btn-link">Add as Friend</button>
                </form>

            </div>
        </div>
    </div>
</div>
<br/>
<a th:href="@{'/home'}" class="btn btn-primary">Back to Home</a>
</body>
</html>
