<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Message view</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/fonBody2.css">
    <link rel="stylesheet" type="text/css" href="../static/css/message.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<header>
    <main th:replace="header"></main>
</header>

<h4 style="color: white; text-align: center; margin: 10px 0;">Messages:</h4>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">

            <div th:each="message : ${messages}" class="mb-3">
                <div class="message" style="border: 1px solid white; border-radius: 10px; padding: 10px 20px;">
                    <div class="message-header">
                        <img th:src="'data:image/jpeg;base64,' + ${message.user.imageData}" alt="User Image"
                             class="rounded-circle me-2" style="width: 40px; height: 40px;">
                        <strong th:text="${message.user.name}"></strong>
                        <small class="text-muted"
                               th:text="${#temporals.format(message.createMessage, 'dd.MM.yyyy HH:mm')}"></small>
                    </div>
                    <div class="message-body">
                        <p th:text="${message.message}" style="color: white"></p>
                    </div>

                    <!-- Відображення відповідей на повідомлення -->
                    <div th:each="reply : ${message.replies}" class="reply">
                        <!-- Відображення відповіді -->
                        <div class="message" style="margin-top: 5px;">
                            <div class="message-header">
                                <img th:src="'data:image/jpeg;base64,' + ${reply.user.imageData}" alt="User Image"
                                     class="rounded-circle me-2" style="width: 40px; height: 40px;">
                                <strong th:text="${reply.user.name}"></strong>
                                <small class="text-muted"
                                       th:text="${#temporals.format(reply.createMessage, 'dd.MM.yyyy HH:mm')}"></small>
                            </div>
                            <div class="message-body">
                                <p th:text="${reply.message}" style="color: white"></p>
                            </div>
                        </div>
                    </div>

                    <!-- Вікно для відправки відповіді -->
                    <div class="reply-form" style="display: none;">
                        <form th:action="@{'/replyMessage'}" method="post">
                            <input type="hidden" name="messageId" th:value="${message.id}">
                            <div class="mb-3">
                                <label>
                                    <textarea class="form-control" name="replyText"
                                              placeholder="Reply to this message"></textarea>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Send Reply</button>
                        </form>
                    </div>
                    <i class="fas fa-pen" style="cursor: pointer;" onclick="toggleReplyForm(this)"></i>

                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function toggleReplyForm(icon) {
        // Отримуємо батьківський елемент кнопки, тобто блок повідомлення
        var messageBlock = icon.parentElement;
        // Отримуємо форму відповіді
        var replyForm = messageBlock.querySelector('.reply-form');
        // Перевіряємо, чи відображена форма
        if (replyForm.style.display === "none") {
            // Якщо форма прихована, відображаємо її
            replyForm.style.display = "block";
        } else {
            // Якщо форма відображена, приховуємо її
            replyForm.style.display = "none";
        }
    }
</script>
</body>
</html>





